body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*sonradan1*/



.rectangle {
/*position: absolute;*/
width: 516px;
height: 847px;
top: 127px;
left: 144px;
background-color: #ffffff;
border-radius: 25px;
box-shadow: 0px 4px 5px 2px #78c4ef61;

display: flex;
justify-content: center;
align-items: center;
}

.container {
  display:flex;
  flex-direction: row;
  width: auto;
  height: 100vh;
  background-color: palevioletred;
}

.blackbox {
  width: 120px;
  height: flex;
  background-color: black;
  order: 1;
  flex-grow: 2;
}

.redbox {
  width: 120px;
  height: flex;
  background-color: red;
  order: 1;
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}
/*
.ant-form {
  position: relative;
  
}*/
/*
#normal_login {
  margin-left:25px;
  margin-top: 100px;
}
*/
/*Sonradan eklenenler*/
.macbook-pro {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}



.macbook-pro .overlap-group-wrapper {
  background-color: #ffffff;
  overflow: hidden;
  width: 1779px;
  height: 1100px;
}

.macbook-pro .overlap-group {
  position: relative;
  height: 1117px;
  background-color: #eef6fb;
}

.macbook-pro .overlap {
  position: absolute;
  width: 133px;
  height: 1010px;
  top: 44px;
  left: 42px;
  background-color: #6e00ff;
  border-radius: 25px;
}

.macbook-pro .div {
  position: absolute;
  width: 82px;
  height: 82px;
  top: 30px;
  left: 25px;
  border-radius: 41px;
}

.macbook-pro .ellipse {
  position: absolute;
  width: 78px;
  height: 78px;
  top: 2px;
  left: 2px;
  object-fit: cover;
}

.macbook-pro .ellipse-2 {
  position: absolute;
  width: 82px;
  height: 82px;
  top: 0;
  left: 0;
  border-radius: 41px;
  border: 4px solid;
  border-color: #5322bc;
}

.macbook-pro .eva-message-circle {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 640px;
  left: 40px;
}

.macbook-pro .rectangle {
  position: relative;
  width: 133px;
  height: 98px;
  top: -353px;
  left: -40px;
  background-color: #612cd1e6;
}

.macbook-pro .vector {
  position: absolute;
  width: 45px;
  height: 44px;
  top: 312px;
  left: 48px;
}

.macbook-pro .codicon-home {
  position: absolute;
  width: 58px;
  height: 58px;
  top: 186px;
  left: 37px;
}

.macbook-pro .ci-settings {
  position: absolute;
  width: 53px;
  height: 53px;
  top: 539px;
  left: 41px;
}

.macbook-pro .bx-bell {
  position: absolute;
  width: 57px;
  height: 57px;
  top: 425px;
  left: 38px;
}

.macbook-pro .majesticons-door {
  position: absolute;
  width: 54px;
  height: 54px;
  top: 916px;
  left: 40px;
}

.macbook-pro .rectangle-2 {
  position: absolute;
  width: 7px;
  height: 97px;
  top: 288px;
  left: 126px;
  background-color: #f3b558;
}

.macbook-pro .overlap-2 {
  position: absolute;
  width: 537px;
  height: 79px;
  top: 45px;
  left: 212px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 4px 5px 2px #78c4ef61;
}

.macbook-pro .bx-search {
  position: absolute;
  width: 43px;
  height: 43px;
  top: 18px;
  left: 25px;
}

.macbook-pro .text-wrapper {
  position: absolute;
  top: 21px;
  left: 87px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #7c7c7c;
  font-size: 28px;
  letter-spacing: 1.4px;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .overlap-3 {
  position: absolute;
  width: 537px;
  height: 319px;
  top: 158px;
  left: 212px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 4px 5px 2px #78c4ef61;
}

.macbook-pro .img {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 74px;
  left: 21px;
  object-fit: cover;
}

.macbook-pro .ellipse-3 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 155px;
  left: 21px;
  object-fit: cover;
}

.macbook-pro .ellipse-4 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 242px;
  left: 21px;
  object-fit: cover;
}

.macbook-pro .ph-number-circle {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 102px;
  left: 472px;
}

.macbook-pro .text-wrapper-2 {
  position: absolute;
  top: 78px;
  left: 102px;
  font-family: "Roboto", Helvetica;
  font-weight: 600;
  color: #2f2f2f;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-3 {
  position: absolute;
  top: 101px;
  left: 102px;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  color: #2f2f2f;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-4 {
  top: 79px;
  left: 397px;
  color: #7c7c7c;
  font-size: 16px;
  letter-spacing: 0.16px;
  white-space: nowrap;
  position: absolute;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  line-height: normal;
}

.macbook-pro .text-wrapper-5 {
  position: absolute;
  top: 160px;
  left: 362px;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  color: #7c7c7c;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-6 {
  top: 243px;
  left: 358px;
  position: absolute;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  color: #7c7c7c;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-7 {
  position: absolute;
  top: 182px;
  left: 102px;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  color: #2f2f2f;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .p {
  position: absolute;
  top: 266px;
  left: 104px;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  color: #2f2f2f;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-8 {
  position: absolute;
  top: 158px;
  left: 102px;
  font-family: "Roboto", Helvetica;
  font-weight: 600;
  color: #2f2f2f;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-9 {
  position: absolute;
  top: 243px;
  left: 102px;
  font-family: "Roboto", Helvetica;
  font-weight: 600;
  color: #2f2f2f;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-10 {
  position: absolute;
  top: 21px;
  left: 28px;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  color: #2f2f2f;
  font-size: 30px;
  letter-spacing: 1.5px;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .line {
  width: 474px;
  top: 222px;
  left: 27px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.macbook-pro .line-2 {
  width: 474px;
  top: 137px;
  left: 27px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.macbook-pro .overlap-4 {
  position: absolute;
  width: 967px;
  height: 1010px;
  top: 44px;
  left: 791px;
}

.macbook-pro .rectangle-3 {
  position: absolute;
  width: 952px;
  height: 1010px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 4px 5px 2px #78c4ef61;
}

.macbook-pro .ellipse-5 {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 29px;
  left: 44px;
  object-fit: cover;
}

.macbook-pro .rectangle-4 {
  position: absolute;
  width: 783px;
  height: 79px;
  top: 901px;
  left: 34px;
  background-color: #eff6fcde;
  border-radius: 25px;
}

.macbook-pro .rectangle-5 {
  position: absolute;
  width: 78px;
  height: 78px;
  top: 899px;
  left: 841px;
  background-color: #6e00ff;
  border-radius: 20px;
}

.macbook-pro .fluent-camera {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 922px;
  left: 756px;
}

.macbook-pro .fluent-emoji-laugh {
  position: absolute;
  width: 43px;
  height: 43px;
  top: 920px;
  left: 688px;
}

.macbook-pro .ant-design-paper {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 921px;
  left: 56px;
}

.macbook-pro .text-wrapper-11 {
  position: absolute;
  width: 90px;
  top: 33px;
  left: 144px;
  font-family: "Roboto", Helvetica;
  font-weight: 600;
  color: #2f2f2f;
  font-size: 32px;
  letter-spacing: 1.6px;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-12 {
  position: absolute;
  width: 347px;
  top: 73px;
  left: 144px;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  color: #2f2f2f;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: normal;
}

.macbook-pro .text-wrapper-13 {
  width: 171px;
  top: 314px;
  left: 76px;
  color: #6f6f6f;
  font-size: 20px;
  letter-spacing: 1px;
  position: absolute;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  line-height: normal;
}

.macbook-pro .text-wrapper-14 {
  width: 171px;
  top: 706px;
  left: 75px;
  color: #6f6f6f;
  font-size: 20px;
  letter-spacing: 1px;
  position: absolute;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  line-height: normal;
}

.macbook-pro .text-wrapper-15 {
  width: 171px;
  top: 439px;
  left: 731px;
  color: #6f6f6f;
  font-size: 20px;
  letter-spacing: 1px;
  position: absolute;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  line-height: normal;
}

.macbook-pro .text-wrapper-16 {
  width: 171px;
  top: 563px;
  left: 731px;
  color: #6f6f6f;
  font-size: 20px;
  letter-spacing: 1px;
  position: absolute;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  line-height: normal;
}

.macbook-pro .text-wrapper-17 {
  width: 171px;
  top: 820px;
  left: 731px;
  color: #6f6f6f;
  font-size: 20px;
  letter-spacing: 1px;
  position: absolute;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  line-height: normal;
}

.macbook-pro .text-wrapper-18 {
  position: absolute;
  width: 347px;
  top: 927px;
  left: 129px;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  color: #2f2f2f;
  font-size: 24px;
  letter-spacing: 1.2px;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .line-3 {
  width: 875px;
  top: 124px;
  left: 40px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.macbook-pro .bi-three-dots {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 47px;
  left: 889px;
}

.macbook-pro .ci-phone-outline {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 46px;
  left: 736px;
}

.macbook-pro .fluent-video {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 42px;
  left: 813px;
}

.macbook-pro .bi-mic-fill {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 919px;
  left: 863px;
}

.macbook-pro .rectangle-6 {
  position: absolute;
  width: 221px;
  height: 59px;
  top: 164px;
  left: 56px;
  background-color: #e6e6e6;
  border-radius: 25px;
}

.macbook-pro .rectangle-7 {
  position: absolute;
  width: 267px;
  height: 59px;
  top: 246px;
  left: 54px;
  background-color: #e6e6e6;
  border-radius: 25px;
}

.macbook-pro .rectangle-8 {
  position: absolute;
  width: 582px;
  height: 59px;
  top: 640px;
  left: 54px;
  background-color: #e6e6e6;
  border-radius: 25px;
}

.macbook-pro .rectangle-9 {
  position: absolute;
  width: 181px;
  height: 59px;
  top: 373px;
  left: 713px;
  background-color: #6e00ff;
  border-radius: 25px;
}

.macbook-pro .rectangle-10 {
  position: absolute;
  width: 429px;
  height: 59px;
  top: 497px;
  left: 465px;
  background-color: #6e00ff;
  border-radius: 25px;
}

.macbook-pro .rectangle-11 {
  position: absolute;
  width: 201px;
  height: 59px;
  top: 754px;
  left: 693px;
  background-color: #6e00ff;
  border-radius: 25px;
}

.macbook-pro .ellipse-6 {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 215px;
  left: 42px;
  background-color: #e7e7e7;
  border-radius: 9px;
}

.macbook-pro .ellipse-7 {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 300px;
  left: 41px;
  background-color: #e7e7e7;
  border-radius: 9px;
}

.macbook-pro .ellipse-8 {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 691px;
  left: 40px;
  background-color: #e7e7e7;
  border-radius: 9px;
}

.macbook-pro .ellipse-9 {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 421px;
  left: 897px;
  background-color: #6e00ff;
  border-radius: 9px;
}

.macbook-pro .ellipse-10 {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 545px;
  left: 897px;
  background-color: #6e00ff;
  border-radius: 9px;
}

.macbook-pro .ellipse-11 {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 802px;
  left: 897px;
  background-color: #6e00ff;
  border-radius: 9px;
}

.macbook-pro .text-wrapper-19 {
  position: absolute;
  width: 152px;
  top: 177px;
  left: 97px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #2f2f2f;
  font-size: 26px;
  letter-spacing: 1.3px;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-20 {
  position: absolute;
  width: 209px;
  top: 259px;
  left: 95px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #2f2f2f;
  font-size: 26px;
  letter-spacing: 1.3px;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-21 {
  position: absolute;
  width: 550px;
  top: 653px;
  left: 95px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #2f2f2f;
  font-size: 26px;
  letter-spacing: 1.3px;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-22 {
  position: absolute;
  width: 132px;
  top: 387px;
  left: 766px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 1.3px;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-23 {
  position: absolute;
  width: 452px;
  top: 511px;
  left: 515px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 1.3px;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-24 {
  position: absolute;
  width: 139px;
  top: 767px;
  left: 743px;
  font-family: "Roboto", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 1.3px;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .overlap-5 {
  position: absolute;
  width: 537px;
  height: 543px;
  top: 511px;
  left: 212px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 4px 5px 2px #78c4ef61;
}

.macbook-pro .ellipse-12 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 91px;
  left: 21px;
  object-fit: cover;
}

.macbook-pro .ellipse-13 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 346px;
  left: 20px;
  object-fit: cover;
}

.macbook-pro .ellipse-14 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 260px;
  left: 21px;
  object-fit: cover;
}

.macbook-pro .ellipse-15 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 428px;
  left: 20px;
  object-fit: cover;
}

.macbook-pro .ellipse-16 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 176px;
  left: 21px;
  object-fit: cover;
}

.macbook-pro .charm-tick-double {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 120px;
  left: 468px;
}

.macbook-pro .charm-tick-double-2 {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 460px;
  left: 469px;
}

.macbook-pro .ph-number-circle-2 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 370px;
  left: 468px;
}

.macbook-pro .ph-number-circle-one {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 205px;
  left: 468px;
}

.macbook-pro .ph-number-circle-one-2 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 290px;
  left: 467px;
}

.macbook-pro .text-wrapper-25 {
  position: absolute;
  top: 93px;
  left: 102px;
  font-family: "Roboto", Helvetica;
  font-weight: 600;
  color: #2f2f2f;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-26 {
  position: absolute;
  top: 351px;
  left: 101px;
  font-family: "Roboto", Helvetica;
  font-weight: 600;
  color: #2f2f2f;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-27 {
  top: 263px;
  left: 101px;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  position: absolute;
  font-family: "Roboto", Helvetica;
  color: #2f2f2f;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-28 {
  top: 117px;
  left: 102px;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.8px;
  position: absolute;
  font-family: "Roboto", Helvetica;
  color: #2f2f2f;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-29 {
  position: absolute;
  top: 374px;
  left: 101px;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  color: #2f2f2f;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-30 {
  position: absolute;
  top: 98px;
  left: 397px;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  color: #7c7c7c;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-31 {
  top: 264px;
  left: 395px;
  color: #7c7c7c;
  font-size: 16px;
  letter-spacing: 0.16px;
  white-space: nowrap;
  position: absolute;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  line-height: normal;
}

.macbook-pro .text-wrapper-32 {
  top: 181px;
  left: 386px;
  color: #7c7c7c;
  font-size: 16px;
  letter-spacing: 0.16px;
  white-space: nowrap;
  position: absolute;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  line-height: normal;
}

.macbook-pro .text-wrapper-33 {
  position: absolute;
  top: 349px;
  left: 364px;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  color: #7c7c7c;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-34 {
  top: 430px;
  left: 347px;
  position: absolute;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  color: #7c7c7c;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-35 {
  position: absolute;
  top: 205px;
  left: 102px;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  color: #2f2f2f;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-36 {
  position: absolute;
  top: 455px;
  left: 101px;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  color: #2f2f2f;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-37 {
  position: absolute;
  top: 287px;
  left: 103px;
  font-family: "Roboto", Helvetica;
  font-weight: 300;
  color: #2f2f2f;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-38 {
  position: absolute;
  top: 181px;
  left: 102px;
  font-family: "Roboto", Helvetica;
  font-weight: 600;
  color: #2f2f2f;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-39 {
  top: 431px;
  left: 101px;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  position: absolute;
  font-family: "Roboto", Helvetica;
  color: #2f2f2f;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .text-wrapper-40 {
  position: absolute;
  top: 29px;
  left: 28px;
  font-family: "Roboto", Helvetica;
  font-weight: 700;
  color: #2f2f2f;
  font-size: 30px;
  letter-spacing: 1.5px;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .line-4 {
  width: 474px;
  top: 241px;
  left: 27px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.macbook-pro .line-5 {
  width: 474px;
  top: 495px;
  left: 26px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.macbook-pro .line-6 {
  width: 474px;
  top: 155px;
  left: 27px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.macbook-pro .line-7 {
  width: 474px;
  top: 408px;
  left: 26px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.macbook-pro .line-8 {
  width: 474px;
  top: 325px;
  left: 30px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}
